html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

/**** HEADER STYLING AND POSITIONING ****/

header {
  background-color: #E05151;
  display: flex;
  flex-wrap: wrap;
}

#logo-header {
  width: 14%;
  padding: 10px;
}

header h1 {
 padding: 10px;
 color: white;
 margin-left: 3px;
 font-weight: 300;
}

/**** NAVIGATION BAR STYLING AND POSITIONING ****/


ul {
  background-color: #868686;
  padding: 10px 0px 10px 10px;
  margin: 5px 0px 15px 0px;
}

ul li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

ul li a {
  color: white;
  text-decoration: none;
}

/**** MAIN CONTENT WITH ARTICLES STYLING AND POSITIONING ****/

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*padding: 10px;*/
  padding-bottom: 100px;
}

.card p {
  font-size: 23px;
  font-weight: normal;
  padding-left: 5px;
}

.card img {
  width: 600px;
  height: 450px;
  max-width: 100%;
  max-height: 100%;
}

/**** FOOTER STYLING AND POSITIONING ****/

footer {
  background-color: #E05151;
  padding: 20px 0px 15px 0px;
  text-align: center;
  color: white;
  position: absolute;
  height: 50px;
  bottom: 0;
  width:100%;
}

/****  **** *****/

#about {
  padding: 0px 30px 100px 30px;
}

#contact {
  padding: 0px 30px 100px 30px;
}

#contact form input {
  padding: 3px;
  margin: 3px;
}


#blog {
  padding: 0px 30px 100px 30px;
}

#blog h1,
#blog p {
  color: white;
}
